WCFTestClient/Service References/PlanRecuperacionWS/PlanRecuperaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57428/PlanRecuperaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" />
  <xs:element name="CrearPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="planACrear" nillable="true" type="q1:PlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="CrearPlanResult" nillable="true" type="q2:PlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPlan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="ObtenerPlanResult" nillable="true" type="q3:PlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="planAModificar" nillable="true" type="q4:PlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="ModificarPlanResult" nillable="true" type="q5:PlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPlan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPlanRecuperacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPlanRecuperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" minOccurs="0" name="ListarPlanRecuperacionResult" nillable="true" type="q6:ArrayOfPlanRecuperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>