WCFTestClient/Service References/PlanRecuperacionWS/PlanRecuperaciones3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Excepciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Excepciones" nillable="true" type="tns:Excepciones" />
</xs:schema>