WCFTestClient/Service References/PlanRecuperacionWS/PlanRecuperaciones2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceSchool.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlanRecuperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivarReforzamiento" type="xs:int" />
      <xs:element minOccurs="0" name="ActivarTrabajo" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProfesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSeccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanRecuperacion" nillable="true" type="tns:PlanRecuperacion" />
  <xs:complexType name="ArrayOfPlanRecuperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanRecuperacion" nillable="true" type="tns:PlanRecuperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanRecuperacion" nillable="true" type="tns:ArrayOfPlanRecuperacion" />
</xs:schema>